* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

span {
    background-image: url('https://cdn1.iconfinder.com/data/icons/aami-flat-message-bubbles/64/message-23-512.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: hearts 6s linear;
}

@keyframes hearts {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
    }
}
